html
	head
		title Demo File Statis
		link(rel="stylesheet", type="text/css", href="css/style.css")
	body
		h2 Demo menyertakan file statis
		p Gambar di bawah ini diambil dari direktori public/images
		img(src="images/nodejs-logo.png")