html
	head
		title Demo Express dan Pug
	body
		h2 Demo Express dan Pug
		p Klik link di bawah ini untuk melihat carapengiriman variabel ke template
		a(href="http://localhost:3000/hello/Alex") Alex
		| &nbsp; |
		a(href="http://localhost:3000/hello/Doni") Doni
		| &nbsp; |
		a(href="http://localhost:3000/hello/Ghani") Ghani